

<!--     this.activeUser.reposUrl,
    this.activeUser.avatarUrl,
    this.activeUser.joined,
    this.activeUser.lastActive,
    this.activeUser.name,
    this.activeUser.userName -->

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{activeUser.userName}}</mat-card-title>
      <mat-card-subtitle>{{activeUser.name}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{activeUser.avatarUrl}}" alt="Photo of {{activeUser.userName}}">
    <mat-card-content>
    
      <p>Full Name: {{activeUser.name}}</p>
      <p>Date Joinng Github: {{activeUser.joined}}</p>
      <p>Last Active Date: {{activeUser.lastActive}}</p>  
      

    </mat-card-content>
    <mat-card-actions>
      <button mat-button>GO TO REPOS PAGE</button>
    </mat-card-actions>
  </mat-card>
  
