
.container {
    width: 90%;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: azure;
}

.grid-item {
    height: 300px;
    background-color: azure;
}

.grid-item-users {
    border-right: 1px solid gray;
}
