<div class="container">
    <h3>Search github users by name to get valuable information</h3>

    <app-search-form></app-search-form>

    <hr>

    <div class="grid-container">

        <div class="grid-item grid-item-users">
            <h3>Users List</h3>
            <ul>
                <li *ngFor="let user of users;let i=index" (click)="updateActiveUser(i)">
                    <div>{{user.userName}}</div>                    

                </li>
            </ul>

        </div>
        <div class="grid-item grid-item-user-detail">

            <app-user-detail *ngIf="activeUser" [activeUser]="activeUser"></app-user-detail>

        </div>
    </div>
</div>
