
.container {
    width: 70%;
    margin: 30px auto;
    padding: 2rem;
    border: 1px solid #9095b1;
    background-color: #3f51b59f;
    color: white

}

.grid-container {
    display: grid;
    grid-template-columns: 30% 50%;
    /* background-color: rgb(212, 253, 253); */
}

.grid-item {
    /* height: 50Vh; */
    padding: 1rem;
}


.grid-item-users h3 {
    text-align: center;
    background-color: wheat;
}

p.intro {
    margin: 0;
    font-size: 1rem;
}

p.intro:last-of-type {
    margin-bottom: 2rem;
}

ul {
    list-style: none;
    padding: .5rem;
    overflow-x: hidden;
    background-color: #646b92;
    margin-top: 0;

}

li {
    /* padding: .5rem; */
    margin: 0;
    padding: 0;
    text-align: center;
    /* background-color: #9095b1; */
    color: white;
}

li:last-of-type {
    margin-bottom: 0;
}

li:hover, li:active {
    cursor: pointer;
    text-decoration: underline;
    color: white;
    
}

/* User details */

.grid-item-user-detail {
    margin: 1rem;
}
