<div class="container">
    <h3>Search github users by name to get valuable information</h3>
    <app-search-form></app-search-form>

    <hr>

    <div class="grid-container">
        <div class="grid-item grid-item-users">
            <h3>Users List</h3>
            <ul>
                <li *ngFor="let user of users">
                    <div>{{user.userName}}</div>
                    
                    <div>{{user.reposUrl}}</div>

                </li>
            </ul>

        </div>
        <div class="grid-item grid-item-user-detail">
            <h3>User Detail</h3>

        </div>
    </div>
</div>
